[input.process]
# Each interval, get the next 5 log messages for a given service
# Use a cursor-file (built-in journalctl functionality) to remember the last
# log entry processed.
#
# The output is piped to grep to filter out the "No entries" output from journalctl,
# and then finally piped to cat to avoid exiting with a non-zero exit code.
command = """sudo journalctl -o json -b --cursor-file=/tmp/log-surge-cursor --no-pager -n 1000"""
interval = "300s"

[[steps]]
script = "lib/main.js"
interval = "600s"

config.with_logs = false
config.debug = false
config.publish_statistics = true
config.stats_topic = "stats/logs"
config.threshold.total = 500
config.threshold.error = 10
config.threshold.warning = 50
config.threshold.info = 0

# Optional log message filter, which will only include log entries
# where the message text matches the given regex
# config.text_filter = ["(connect)"]
